<% content_for(:js) do -%>
  <%= javascript_include_tag 'common' %>
  <%= javascript_include_tag 'live-comment-preview' %>
<% end -%>
<% content_for(:page_title) do -%>
<%= post_title(@post) -%>
<% end -%>
<%= render :partial => 'posts/post', :locals => {:post => @post} %>
<ol class="commentlist">
  <% @post.approved_comments.each do |comment| -%>
  <li<%=raw cycle(' class="alt"', '') %> id="comment-<%= comment.id %>">
    <%= render :partial => 'comments/comment', :locals => {:comment => comment} %>
  </li>
  <% end -%>
</ol>
<div class="related">
  <% if @post.related_posts.empty? -%>
    <p>Hungry for more? Head on over to the <%= link_to("archives", archives_path) %>.</p>
  <% else -%>
    <p>Hungry for more? Try these <strong>related posts</strong>, or find more in the <%= link_to("archives", archives_path) %>.</p>
    <ul>
      <% @post.related_posts.each do |post| -%>
        <li><%= link_to(h(post.title), post_path(post, :utm_source => 'website', :utm_medium => 'web', :utm_campaign => 'stickiness')) %></li>
      <% end -%>
    </ul>
  <% end -%>
  <p><%= link_to("Follow me on twitter", "http://twitter.com/xshay") %> for bleeding edge insights. Also I need to convince my Mum that I have friends.</p>
</div>
<h2>Post a comment</h2>
  <% unless @comment.errors.empty? -%>
  <div class="errors">
    <h3>Comment not added!</h3>
    <ul>
      <% @comment.errors.sort_by(&:first).each do |error| -%>
        <li><%= format_comment_error(error) %></li>
      <% end -%>
    </ul>
  </div>
  <% end -%>
<%= form_for([@post, @comment]) do |form| -%>
  <div>
    <p><%= form.text_field 'author' %><label for="comment_author"><small>Name or <a href="http://openidexplained.com/">OpenID</a> (required)</small></label></p>
    <p><%= form.text_field 'human_test' %><label for="comment_author"><small>What is 2 + 2? (type the numeral answer)</small></label></p>
    <p><%= form.text_area 'body' %><br><small>(<a href="http://lesstile.rubyforge.org">lesstile enabled</a> - surround code blocks with ---)</small></p>
    <p><%= submit_tag "Add Comment" %></p>
  </div>
<% end -%>
